<div class="container">
  <div class="row align-items-center justify-content-center full-page">
    <div class="col-sm-4">
      <h1>
     {{appInfo.name}}!
  </h1>
      <form>
      <p>Please enter tour email address to get a reset link for {{appInfo.name}}. </p>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary align-self-center">Reset</button>
      </form>
    </div>
  </div>
</div>
